In [1]:
import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
eft_df = pd.read_csv("ETF_prices.csv")
eft_df

        fund_symbol  price_date   open   high    low  close  adj_close  volume
0               AAA  2020-09-09  25.10  25.12  25.07  25.07      24.85   17300
1               AAA  2020-09-10  25.06  25.07  25.05  25.07      24.85   23500
2               AAA  2020-09-11  25.04  25.05  25.02  25.03      24.81   33400
3               AAA  2020-09-14  25.01  25.06  25.01  25.02      24.80   13100
4               AAA  2020-09-15  25.02  25.03  25.01  25.01      24.79   12100
...             ...         ...    ...    ...    ...    ...        ...     ...
3866025         ZSL  2021-11-23  26.81  27.21  26.30  26.35      26.35  190900
3866026         ZSL  2021-11-24  26.79  26.96  26.57  26.69      26.69  109000
3866027         ZSL  2021-11-26  26.67  28.14  26.67  27.72      27.72  205500
3866028         ZSL  2021-11-29  27.89  28.56  27.80  28.27      28.27  411900
3866029         ZSL  2021-11-30  28.15  28.73  25.91  28.49      28.49  219400

[3866030 rows x 8 columns]

In [4]:
eft = pd.read_csv("ETFs.csv")
eft

,fund_symbol,quote_type,region,fund_short_name,fund_long_name,currency,fund_category,fund_family,exchange_code,exchange_name,...,fund_stdev_5years,fund_sharpe_ratio_5years,fund_treynor_ratio_5years,fund_alpha_10years,fund_beta_10years,fund_mean_annual_return_10years,fund_r_squared_10years,fund_stdev_10years,fund_sharpe_ratio_10years,fund_treynor_ratio_10years
0,AAAU,ETF,US,DWS RREEF Real Assets Fund - Cl,DWS RREEF Real Assets Fund - Class A,USD,NaN,DWS,PCX,NYSEArca,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AADR,ETF,US,AllianzGI Health Sciences Fund,Virtus AllianzGI Health Sciences Fund Class P,USD,Foreign Large Growth,Virtus,NGM,NasdaqGM,...,19.30,0.62,9.66,3.32,0.96,0.79,73.64,16.78,0.53,8.15
2,AAXJ,ETF,US,NaN,American Century One Choice Blend+ 2015 Portfo...,USD,Pacific/Asia ex-Japan Stk,American Century Investments,NGM,NasdaqGM,...,15.91,0.66,10.37,0.30,0.99,0.55,78.24,16.83,0.36,4.81
3,ABEQ,ETF,US,Thrivent Large Cap Growth Fund,Thrivent Large Cap Growth Fund Class A,USD,Large Value,Thrivent Funds,PCX,NYSEArca,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACES,ETF,US,NaN,American Century One Choice Blend+ 2015 Portfo...,USD,Miscellaneous Sector,American Century Investments,PCX,NYSEArca,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,EPP,ETF,US,Cboe Vest S&P 500 Buffer Strate,CBOE Vest S&P 500 Buffer Strategy Fund Class C...,USD,Pacific/Asia ex-Japan Stk,CBOE Vest,PCX,NYSEArca,...,16.88,0.48,6.57,-0.50,1.11,0.55,83.67,18.28,0.32,3.94
2306,ERUS,ETF,US,Buffalo Flexible Income Fund,Buffalo Flexible Income Fund,USD,Miscellaneous Region,Buffalo,PCX,NYSEArca,...,23.34,0.70,12.44,-3.60,1.40,0.44,59.31,27.56,0.17,0.58
2307,EWA,ETF,US,Buffalo Dividend Focus Fund,Buffalo Dividend Focus Fund,USD,Miscellaneous Region,Buffalo,PCX,NYSEArca,...,19.27,0.48,6.51,-0.58,1.17,0.57,75.70,20.30,0.31,3.60
2308,EWC,ETF,US,"Buffalo Large Cap Fund, Inc.",Buffalo Large Cap Fund,USD,Miscellaneous Region,Buffalo,PCX,NYSEArca,...,18.14,0.61,9.05,-1.14,1.00,0.44,76.01,17.31,0.27,3.25
2309,EWD,ETF,US,Buffalo Growth Fund,Buffalo Growth Fund,USD,Miscellaneous Region,Buffalo,PCX,NYSEArca,...,17.91,0.81,12.54,2.74,1.12,0.83,82.63,18.67,0.50,6.99

In [6]:
files = ["MutualFundprices-A-E.csv",
         "MutualFundprices-F-K.csv",
         "MutualFundprices-L-P.csv",
         "MutualFundprices-Q-Z.csv"]

dfs = list()
for f in files:
    data = pd.read_csv(f)
    dfs.append(data)

df = pd.concat(dfs, ignore_index=True)

In [7]:
df

         fund_symbol  price_date  nav_per_share
0              AAAAX  2007-07-31          10.02
1              AAAAX  2007-08-01           9.98
2              AAAAX  2007-08-02          10.01
3              AAAAX  2007-08-03           9.90
4              AAAAX  2007-08-06           9.93
...              ...         ...            ...
75657734       ZVNIX  2021-11-23          42.88
75657735       ZVNIX  2021-11-24          43.74
75657736       ZVNIX  2021-11-26          43.19
75657737       ZVNIX  2021-11-29          43.75
75657738       ZVNIX  2021-11-30          42.72

[75657739 rows x 3 columns]

In [12]:
df['price_date'] = pd.to_datetime(df['price_date'])

# Pivot iÅŸlemi
pivot_df = df.pivot(index='price_date', columns='fund_symbol', values='nav_per_share')
df

         fund_symbol price_date  nav_per_share
0              AAAAX 2007-07-31          10.02
1              AAAAX 2007-08-01           9.98
2              AAAAX 2007-08-02          10.01
3              AAAAX 2007-08-03           9.90
4              AAAAX 2007-08-06           9.93
...              ...        ...            ...
75657734       ZVNIX 2021-11-23          42.88
75657735       ZVNIX 2021-11-24          43.74
75657736       ZVNIX 2021-11-26          43.19
75657737       ZVNIX 2021-11-29          43.75
75657738       ZVNIX 2021-11-30          42.72

[75657739 rows x 3 columns]

In [13]:
pivot_df

fund_symbol,AAAAX,AAAEX,AAAFX,AAAGX,AAAHX,AAAIX,AAAJX,AAAKX,AAALX,AAAMX,...,ZGFAX,ZGFIX,ZPSVX,ZSCCX,ZSCIX,ZSRIX,ZVGIX,ZVGNX,ZVNBX,ZVNIX
price_date,,,,,,,,,,,,,,,,,,,,,
1973-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-23,12.92,40.52,10.55,18.96,10.56,9.24,10.53,10.51,10.58,10.64,...,16.40,16.46,NaN,35.88,36.60,9.72,57.15,56.24,42.18,42.88
2021-11-24,12.99,40.51,10.56,19.07,10.57,9.25,10.54,10.52,10.59,10.65,...,16.40,16.46,NaN,35.76,36.47,9.71,58.31,57.38,43.03,43.74
2021-11-26,12.68,40.22,10.49,18.62,10.50,9.08,10.47,10.45,10.52,10.57,...,16.11,16.17,NaN,34.22,34.90,9.70,57.61,56.69,42.49,43.19
2021-11-29,12.72,40.07,10.51,18.96,10.52,9.13,10.49,10.47,10.54,10.59,...,16.25,16.31,NaN,34.14,34.82,9.66,58.38,57.45,43.04,43.75
2021-11-30,12.47,39.51,10.45,18.63,10.46,9.00,10.42,10.40,10.47,10.51,...,15.94,16.00,NaN,33.35,34.02,9.65,56.89,55.98,42.03,42.72

In [14]:
mut = pd.read_csv("mut.csv")
mut.head()

,Unnamed: 0,fund_symbol,initial_investment,fund_category,fund_family,investment_strategy,inception_date,investment_type,size_type,fund_return_1year,...,company_6,ratio_6,company_7,ratio_7,company_8,ratio_8,company_9,ratio_9,company_10,ratio_10
0,0,AAAAX,1000.0,86,181,2062,2007-07-30,2,0,0.22970,...,7975.0,0.0156,7982.0,0.0146,7981.0,0.0144,7487.0,0.0139,NaN,0.0000
1,1,AAAEX,1000000.0,30,303,871,2020-07-13,0,0,0.23934,...,7487.0,0.0357,7979.0,0.0349,7979.0,0.0341,7487.0,0.0308,7974.0,0.0272
2,3,AAAGX,2000.0,40,295,742,1999-10-29,1,0,0.30705,...,7982.0,0.0464,7979.0,0.0374,7979.0,0.0313,7975.0,0.0295,7982.0,0.0292
3,5,AAAIX,5000000.0,3,38,1309,2000-08-01,0,0,0.19515,...,5567.0,0.0555,7487.0,0.0371,7487.0,0.0355,7487.0,0.0186,7974.0,0.0183
4,10,AAANX,2500.0,68,242,169,2012-01-31,0,0,0.24963,...,5567.0,0.0765,6235.0,0.0677,6879.0,0.0504,7487.0,0.0494,7974.0,0.0488

In [18]:
selected_symbols = mut['fund_symbol'].tolist()
pivot_df = pivot_df[selected_symbols]
columns_to_drop = [col for col in pivot_df.columns if col not in selected_symbols]
pivot_df.drop(columns=columns_to_drop, inplace=True)

C:\Users\onuro\AppData\Local\Temp\ipykernel_1848\2953732443.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_df.drop(columns=columns_to_drop, inplace=True)

In [19]:
pivot_df

fund_symbol,AAAAX,AAAEX,AAAGX,AAAIX,AAANX,AAAPX,AAAQX,AAARX,AAASX,AAAUX,...,ZPSVX,ZSCCX,ZSCIX,ZVGIX,ZVGNX,ZVNBX,ZVNIX,VHYAX,VIAAX,VIHAX
price_date,,,,,,,,,,,,,,,,,,,,,
1973-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-23,12.92,40.52,18.96,9.24,16.68,12.78,12.98,9.37,12.82,9.22,...,NaN,35.88,36.60,57.15,56.24,42.18,42.88,33.37,43.48,32.45
2021-11-24,12.99,40.51,19.07,9.25,16.70,12.86,13.06,9.38,12.90,9.23,...,NaN,35.76,36.47,58.31,57.38,43.03,43.74,33.31,43.25,32.38
2021-11-26,12.68,40.22,18.62,9.08,16.32,12.54,12.74,9.20,12.58,9.05,...,NaN,34.22,34.90,57.61,56.69,42.49,43.19,32.59,42.64,31.52
2021-11-29,12.72,40.07,18.96,9.13,16.49,12.58,12.78,9.26,12.62,9.11,...,NaN,34.14,34.82,58.38,57.45,43.04,43.75,32.71,42.77,31.55
2021-11-30,12.47,39.51,18.63,9.00,16.17,12.33,12.52,9.12,12.37,8.98,...,NaN,33.35,34.02,56.89,55.98,42.03,42.72,31.94,42.24,31.22

In [17]:
pivot_df

fund_symbol,AAAAX,AAAEX,AAAFX,AAAGX,AAAHX,AAAIX,AAAJX,AAAKX,AAALX,AAAMX,...,ZGFAX,ZGFIX,ZPSVX,ZSCCX,ZSCIX,ZSRIX,ZVGIX,ZVGNX,ZVNBX,ZVNIX
price_date,,,,,,,,,,,,,,,,,,,,,
1973-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-23,12.92,40.52,10.55,18.96,10.56,9.24,10.53,10.51,10.58,10.64,...,16.40,16.46,NaN,35.88,36.60,9.72,57.15,56.24,42.18,42.88
2021-11-24,12.99,40.51,10.56,19.07,10.57,9.25,10.54,10.52,10.59,10.65,...,16.40,16.46,NaN,35.76,36.47,9.71,58.31,57.38,43.03,43.74
2021-11-26,12.68,40.22,10.49,18.62,10.50,9.08,10.47,10.45,10.52,10.57,...,16.11,16.17,NaN,34.22,34.90,9.70,57.61,56.69,42.49,43.19
2021-11-29,12.72,40.07,10.51,18.96,10.52,9.13,10.49,10.47,10.54,10.59,...,16.25,16.31,NaN,34.14,34.82,9.66,58.38,57.45,43.04,43.75
2021-11-30,12.47,39.51,10.45,18.63,10.46,9.00,10.42,10.40,10.47,10.51,...,15.94,16.00,NaN,33.35,34.02,9.65,56.89,55.98,42.03,42.72

In [21]:
row_fill_percentage = pivot_df.count(axis=1) / len(pivot_df.columns) * 100

# %50'den fazla dolu olan ilk satÄ±rÄ± bul
first_row_above_50_percent = pivot_df[row_fill_percentage > 50].iloc[0]

# Sonucu gÃ¶ster
print(first_row_above_50_percent)

fund_symbol
AAAAX    9.39
AAAEX     NaN
AAAGX    5.09
AAAIX    7.59
AAANX     NaN
         ...
ZVNBX     NaN
ZVNIX     NaN
VHYAX     NaN
VIAAX     NaN
VIHAX     NaN
Name: 2010-12-27 00:00:00, Length: 15284, dtype: float64

In [22]:
date_to_keep = '2010-12-27'
pivot_df = pivot_df.loc[date_to_keep:]

In [23]:
pivot_df.to_csv("nav_per_share.csv")